.vs
metadata
PackageCache
SneakyMSF/Temp/UnityLockfile
Dungeon
Temp
MonoBleedingEdge
Library
SneakyMSF/Library/assetDatabase3
SneakyMSF/Library/CurrentLayout-default.dwlt
SneakyMSF/Library/EditorInstance.json
SneakyMSF/Library/EditorUserBuildSettings.asset
SneakyMSF/Library/InspectorExpandedItems.asset
SneakyMSF/Library/ScriptAssemblies/Assembly-CSharp.dll
SneakyMSF/Library/ScriptAssemblies/Assembly-CSharp.pdb
SneakyMSF/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Rider.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.TextMeshPro.dll
SneakyMSF/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Timeline.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
SneakyMSF/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
SneakyMSF/Library/ScriptAssemblies/UnityEditor.UI.dll
SneakyMSF/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
SneakyMSF/Library/ScriptAssemblies/UnityEngine.UI.dll
SneakyMSF/Library/ShaderCache/EditorEncounteredVariants
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe0.log
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe1.log
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe2.log
SneakyMSF/Library/assetDatabase3
SneakyMSF/Library/CurrentLayout-default.dwlt
SneakyMSF/Library/EditorInstance.json
SneakyMSF/Library/EditorUserBuildSettings.asset
SneakyMSF/Library/InspectorExpandedItems.asset
SneakyMSF/Library/ScriptAssemblies/Assembly-CSharp.dll
SneakyMSF/Library/ScriptAssemblies/Assembly-CSharp.pdb
SneakyMSF/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Rider.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.TextMeshPro.dll
SneakyMSF/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Timeline.dll
SneakyMSF/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
SneakyMSF/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
SneakyMSF/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
SneakyMSF/Library/ScriptAssemblies/UnityEditor.UI.dll
SneakyMSF/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
SneakyMSF/Library/ScriptAssemblies/UnityEngine.UI.dll
SneakyMSF/Library/ShaderCache/EditorEncounteredVariants
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe0.log
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe1.log
SneakyMSF/Library/shadercompiler-UnityShaderCompiler.exe2.log
